/**********************************************************************************************************
// 프로젝트 공통 스타일링
// +js 스타일링 공통
***********************************************************************************************************/

@import 'variables.scss';
@import 'mixin.scss';

/*fonts.css*/
@font-face {
    font-family: 'Pretendard-Black';
    font-style: 'normal';
    /* font 스타일 정의 (기울임, 일반) */
    font-weight: 700;
    /* font 굵기 정의 */
    /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
    src: url('./fonts/Pretendard-Black.woff');  
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('./fonts/Pretendard-ExtraBold.woff');
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('./fonts/Pretendard-Bold.woff');
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('./fonts/Pretendard-Medium.woff');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('./fonts/Pretendard-Regular.woff');
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    @include customScrollBar();
}

body {
    font-family: 'Pretendard-Regular';

    #headerLayout {
        @include flexCenter();
        width: 100vw;
        height: 5rem;
        border-bottom: 1px solid $color-border;
        font-family: 'Pretendard-Regular';
        
        nav {
            @include flexBetween();
            width: 90rem;
            padding: 0 2rem;

            > * {
                width: 12rem;
                text-align: center;
                &.logo{ display: inline-block; }

                &.searchForm {
                    @include flexBetween();
                    width: 48.750rem;
                    height: 2.5rem;
                    border: 1px solid $color-gray;
                    border-radius: 5px;

                    &:hover {
                        border-color: rgba(0, 0, 0, 0.8);
                        box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
                    }

                    .select {
                        position: relative;
                        width: 7.5rem;
                        ul {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            overflow: hidden;
                            max-height: 0;
                        }
                    }
                    label {
                        @include flexBetween();
                        width: 100%;
                        height: 60%;
                        padding: 0 0.5rem;
                        border-left: 1px solid $color-gray;

                        input {
                            width: 100%;
                            height: 2rem;
                        }

                        img {
                            display: inline-block;
                            width: 1.5rem;
                        }
                    }
                }

                &.more {
                    @include flexCenter();
                    li{
                        width: 3rem;
                        img { width: 1.5rem }
                        &:last-child {
                            img { transform: rotate(180deg) }
                        }
                    }
                }
            }
        }
    }

    #containerLayout {
        width: 100vw;
        min-height: 90vh;
        margin: auto;

        .container {
            width: 48.750rem;
            margin: auto;
            background-color: aqua;
        }

        footer.footer {
            width: 48.750rem;
            height: 10rem;
            margin: auto;
            background-color: aquamarine;
        }
    }

    .navigation { display: none }
}

@include mobile {
    body{
        #headerLayout {
                height: 3rem;
        
                nav {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 2rem 0 1rem;
        
                    >* {
                        width: 3.5rem;
        
                        &.searchForm {
                            width: 2rem;
                            border: none;
        
                            .select {
                                display: none
                            }
        
                            label {
                                input {
                                    display: none
                                }
        
                                border: none;
                            }
        
                            &:hover {
                                border: none;
                                box-shadow: none;
                            }
                        }
        
                        &.more {
                            display: none
                        }
                    }
                }
            }
        #containerLayout {
            .container, 
            footer.footer {
                width: 100%;
            }
        }
        .navigation {
            display: block;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 3.2rem;
            border-top: 1px solid $color-gray;
            background-color: $color-white;

            ul {
                @include flexAround();
                width: 90%;
                height: inherit;
                margin: 0 auto;

                li {
                    text-align: center;

                    a {
                        >* {
                            display: block;
                            font-size: $font-xtiny;
                        }

                        img {
                            display: inline-block;
                            width: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@include tablet {
    body {
        #headerLayout {
            height: 3rem;
            nav{
                display: flex;
                justify-content: space-between;
                padding: 0 2rem 0 1rem;
                > * {
                    width: 3.5rem;
                    &.searchForm {
                            width: 2rem;
                            border: none;
                        .select { display: none }

                        label {
                            input { display: none }
                            border: none;
                        }
                    &:hover { 
                        border: none;
                        box-shadow: none; }
                    }
                    &.more { display: none }
                }
            }
        }
        #containerLayout {
            .container,
            footer.footer {
                width: 90%;
            }
        }
        .navigation {
            display: block;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 3.2rem;
            border-top: 1px solid $color-gray;
            background-color: $color-white;

            ul {
                @include flexAround();
                width: 90%;
                height: inherit;
                margin: 0 auto;

                li {
                    text-align: center;
                    a {
                        > * {
                            display: block;
                            font-size: $font-xtiny;
                        }
                        img {
                            display: inline-block;
                            width: 2rem;
                        }
                    }
                }
            }
        }
    }
    
}

// .box {
//     background: red;
//     cursor: pointer;
//     transition: all 0.3s ease-in;

//     &.red {
//         background: $red;
//         /*변수파일에 있는 red변수 사용*/
//         @include square(5);
//         /* 5를 넣으므로 넓이, 높이를 mixin suqare에서 계산해줌 */
//     }
// }