/**********************************************************************************************************
// 메인페이지 스타일링
***********************************************************************************************************/

html{
    background-color: black;
}

#containerLayout {
    background-color: antiquewhite;

    div{
        min-height: 30rem;
    }
}