/**********************************************************************************************************
// 글로벌 초기세팅
// 브라우저 세팅 초기화
***********************************************************************************************************/


/*
   http://meyerweb.com/eric/tools/css/reset/
   Updated: 2023-04-25
   Author: yooni
*/

* {
    -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* make sure to set some focus styles for accessibility */
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

input,
textarea {
    outline: 0;
    box-sizing: border-box;

    &:focus {
        box-sizing: border-box;
    }
}

button {
    cursor: pointer;
}

button,
input {
    line-height: normal;
    border: none;
    background: none;
    outline: none;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

menu,
ol,
ul,
li {
    list-style: none;
}

li {
    display: list-item;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    display: table-row;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

td,
th {
    display: table-cell;
}

caption {
    display: table-caption;
}

th {
    font-weight: bolder;
    text-align: center;
}

caption {
    text-align: center;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a:focus,
a:active,
a:hover {
    outline: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}